.projects{
    
    display: flex;
    justify-content: space-between;
}
.projects >div{
    flex: 1;
    margin-top: 10px;   
    margin-left: 50px;
    border-right: 1px solid #dedede;
}
.projects >div ul{
    height: 200px !important;
    width: 600px !important;
}
.projects >div li{
    list-style: square;
}
.projects >div:last-of-type{
    border: none;
}