.side-drawer{
    height: 100%;
    box-shadow: 1px 0px 7px rgba(0,0,0, 0.5);
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    background-color: black;
    max-width: 250px;
    z-index: 200;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
}
.side-drawer.open{
transform: translateY(0)
}
.side-drawer ul {
    height: 50%;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.side-drawer li {
    margin: 0.5rem 0;
    text-decoration: none;
    list-style: none;
}
.side-drawer h3 {
    text-decoration: none !important;
    color: white;
}
.side-drawer h3:hover,
.side-drawer h3:active {
    color: teal;
    text-decoration: none !important;
}

.btn{
    text-align: right;
    

}
.fa{
    margin-right: 1rem;
    color: white;
}

.btn .button {
    font-size: 25px;
    border-radius: 50%;
    border: none !important;
    background: transparent;
}
.btn .button .fa:hover{
color: teal;
}
